* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  top: 0px;
  bottom: 0px;
  background-color: rgba(248, 248, 247, 0.555);
  min-height: 100vh;
  padding-bottom: 90px;
}

.navbar-container__gradiente {
  /* GRADIENTE */
  background: #240b36;
  background: linear-gradient(90deg, #000000f8 8%, #939393eb 25%, #e7e4e4 45%, #201ddeca 65%, #0f089c 85%);
}

.logo {
  color: #2840f3fe;
}

.navbar-container__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-container__enlaces {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  color: #ffffff !important;
}

.navbar-dark :hover {
  color: rgba(0, 0, 0, 0.993) !important;
}

.logo:hover {
  color: white !important;
}

.nav-link:hover {
  font-style: italic;
  color: #00fffb !important;
}

.main {
  margin-top: 90px;
  padding: 20px;
  height: 100%;
}

.section__titulo {
  color: #03274c;
  text-align: center;
  letter-spacing: 20px;
  font-size: 200%;
  font-family: "Roboto", sans-serif;
}

.section__titulo--variante {
  text-transform: uppercase;
}

.section__titulo--variante-categorias {
  font-size: 150%;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.error__formulario {
  display: none;
}

.error__formulario--activo {
  color: red;
  display: block;
}

.btn-enviar {
  background-color: #11277f;
  color: #fff;
  font-size: large;
}

.btn-enviar:hover {
  color: rgba(255, 255, 255, 0.818);
}

.footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.footer ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

.footer__autor {
  color: white;
  padding-bottom: 1rem;
}

.tabla {
  background-color: #fd477ef5;
  text-align: center;
  width: 100%;
}

.tabla__th,
.tabla__td {
  border: solid 1rem rgba(0, 0, 0, 0.328);
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.tabla__thead {
  background-color: #fa436b;
  color: whitesmoke;
}

.table-dark {
  --bs-table-bg: #2872bd;
  --bs-table-striped-bg: #27588a;
  --bs-table-hover-bg: rgb(121, 169, 231);
}
