.footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 80px;
width: 100%;
}

.footer ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer__autor {
    color: white;
    padding-bottom: 1rem;
}