.error__formulario {
    display: none;
}

.error__formulario--activo {
    color: red;
    display: block;
}

.btn-enviar {
    background-color: #11277f;
    color: #fff;
    font-size: large;
}
.btn-enviar:hover {
    color: rgba(255, 255, 255, 0.818);
}