.tabla {
    background-color: #fd477ef5;
    text-align: center;
    width: 100%;
}

.tabla__th,
.tabla__td {
    border: solid 1px rgba(0, 0, 0, 0.328);
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.tabla__thead {
    background-color: #fa436b;
    color: whitesmoke;
}
