.main {
    margin-top: 90px;
    padding: 20px;
    height: 85vh;
}

.section__titulo {
    color: #a8135e;
    text-align: center;
    letter-spacing: 20px;
    font-size: 200%;
    font-family: "Roboto", sans-serif;
}

.section__titulo--variante {
    text-transform: uppercase;
}