.main {
    margin-top: 90px;
    padding: 20px;
    height: 100%;
}

.section__titulo {
    color: #03274c;
    text-align: center;
    letter-spacing: 20px;
    font-size: 200%;
    font-family: "Roboto", sans-serif;
}

.section__titulo--variante {
    text-transform: uppercase;
}
.section__titulo--variante-categorias {
    font-size: 150%;
    letter-spacing: 10px;
    text-transform: uppercase;
}